.page {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  display: flex;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  z-index: 1;

#logo {
  flex: 0;
}

#menu {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.menu-link {
  margin-right: 5%;
  color: white;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}